<html>
<head>
<title> Twitter Sentiment Analysis </title>
<style>
body 
	{
		background-color: #EAE7DC;
	}

.header img
	{
		float: left;
	}
	
h1
	{
		text-align: center;
	}

table, th, td
	{
		border: 1px solid black;
		width: 70%;
		padding: 5px 10px;
	}

</style>
</head>

<body>
<div class = "header">
    <h1>  Twitter Sentiment Analysis </h1>
</div>
<hr>
<br/>
<br/>

<p>
<div id = "help-div"> <!-- information section -->
	<span style="font-weight:bold">
	What is going on?
	</span>
	<blockquote>
	<b> World map. </b> It shows the location of where tweets are being posted.
	</blockquote>
</body>
</html>